<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SupperCool.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>EE2C849B1D042FA100CDEB0B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EE2C84AF1D042FA100CDEB0B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EE2C84BA1D042FA100CDEB0B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
